section {
    width: 800px;
    margin: 0 auto;
}

.colorPanel {
    list-style: none;
    padding: 0;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 90px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.colorPanel li {
    width: 20px;
    height: 20px;
    margin: 1px;
    float: left;
}